@keyframes fadeInMoveUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.password-reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80vh;
    width: 60%;
    color: black;
    gap: 30px;
    margin-top: 60px;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInMoveUp 0.6s ease forwards;

}

@media  screen and (max-width: 545px) {
    .password-reset-container{
        padding-left: 20%;
    }
}

.reset-password-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 26px;
    gap: 10px;
    font-weight: 600;
}



.reset-password-input-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: center;
}


.current-password-container, .new-password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 8px;
}

.password-reset-container p{
    font-size: 17px;
    font-weight: 500;
    color: #555;
}

.current-password-container input,
 .new-password-container input{
    width: 100%;
    padding: 10px 13px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    color: black;
}

input:hover{
    background-color: #f1f1f1;
}
input:focus{
    border-color: #666;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}


.reset-password-button{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset-password-button:hover{
    background-color: #555;
    transform: scale(1.03);
}



